* {
    box-sizing: border-box;
}

body {
    margin: 0 10%;
}
.cool-blue {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    background-color: #2d5dcc;
    color: #fff;
}

.color-container {
    border: 1px solid black;
    padding: 5px 20px;
    width: 70%;
}

.pink {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    background-color: #d957d9;
    color: #000;
}

.mint-green{
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    background-color: #4fe0b0;
    color: #000;
}

.beige{
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    background-color: #efd9ca;
    color: #000;
}

.color-panel {
    font-family: Arial, Helvetica, sans-serif;
}